<script src="../../../../node_modules/ng-file-upload/dist/ng-file-upload.js"></script> <!-- for no html5 browsers support -->

<div class="col-12 top50">
  <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 jumbotron">

    <form novalidate (ngSubmit)="onFormSubmit(signupForm)" #signupForm="ngForm">
      <fieldset>
        <legend>Registro de Enfermero</legend>

        <!--- First Name Block --->
        <div class="form-group">
          <label for="inputFirstName">Nombre</label>
          <input type="text" class="form-control" [ngModel]="nurse.firstName" name="firstName" #firstName="ngModel" id="inputFirstName"
            placeholder="Nombre Completo" required>

          <!-- First Name error block -->

          <div *ngIf="( firstName.touched)" class=" text-danger">
            <div *ngIf="firstName.errors?.required">
              Ingrese sus nombres completos
            </div>
          </div>
        </div>
        <!--- End of first Name Block --->

        <!--- Last Name Block --->
        <div class="form-group">
          <label for="inputLastName">Apellidos</label>
          <input type="text" class="form-control" [ngModel]="nurse.lastName" name="lastName" #lastName="ngModel" id="inputLastName"
            placeholder="Apellidos" required>

          <!-- Last Name error block -->

          <div *ngIf="( lastName.touched)" class=" text-danger">
            <div *ngIf="lastName.errors?.required">
              Ingrese sus apellidos completos
            </div>
          </div>
        </div>
        <!--- End of Last Name Block --->

        <!--- date of birth Block --->
        <div class="form-group">
          <label for="dateOfBirth">Fecha de nacimiento</label>
          <input type="datetime" class="form-control" [ngModel]="nurse.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel"
            id="dateOfBirth" placeholder="Fecha de nacimiento" required>

          <!-- date of birth error block -->

          <div *ngIf="( dateOfBirth.touched)" class="text-danger">
            <div *ngIf="dateOfBirth.errors?.required">
              Ingrese su fecha de nacimiento
            </div>
          </div>
        </div>
        <!--- date of birth Name Block --->

        <!--- Email Block --->
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="text" class="form-control" [ngModel]="nurse.email" name="email" #email="ngModel" id="inputEmail"
            placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>

          <!-- Email error block -->

          <div *ngIf="email.invalid && ( email.touched)" class="text-danger">
            <div *ngIf="email.errors?.required">
              Email field can't be blank
            </div>
            <div *ngIf="email.errors?.pattern && email.touched">
              The email id doesn't seem right
            </div>
          </div>

        </div>




        <div ngModelGroup="password" #userPassword="ngModelGroup">
          <!--- Password Block --->
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" ngModel name="pwd" id="inputPassword" placeholder="Password"
              minlength="8" required>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" ngModel name="confirmPwd" id="confirmPassword" placeholder="Confirm Password">
          </div>

          <!-- Password error block -->
          <div *ngIf="(userPassword.invalid|| userPassword.value?.pwd != userPassword.value?.confirmPwd) && (userPassword.touched)"
            class="text-danger">

            <div *ngIf="userPassword.invalid; else nomatch">
              Password needs to be more than 8 characters
            </div>
            <ng-template #nomatch>
              Passwords don't match
            </ng-template>

          </div>

        </div>

        <!--- Resume Block --->
        <!---
        <div class="form-group">
          <label for="resume">Hoja de vida</label>
          <input type="file" (change)="onFileChange($event)" />
        </div>
        --->
        <!--- Resume error Block --->


        <!--- Terms and conditions Block --->
        <div class="form-group checkbox">
          <label>
            <input type="checkbox" ngModel name="terms" #terms="ngModel" required> Confirm that you've read the Terms
            and
            Conditions
          </label>

          <!-- Terms checkbox error block -->
          <div *ngIf="(terms.invalid && terms.touched)" class=" text-danger">
            You need to check this box to continue
          </div>

        </div>

        <!--- Buttons Block --->
        <div class="form-group">
          <button type="reset" class="btn btn-default btn-space">Cancel</button>
          <button type="submit" class="btn btn-primary btn-space" [disabled]="!signupForm.form.valid">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>