<div class="col-12 top50">
  <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 jumbotron">

    <form novalidate (ngSubmit)="onFormSubmit(signupForm)" #signupForm="ngForm">
      <fieldset>
        <legend>Registro Doctor</legend>

        <!--- Full Name Block --->
        <div class="form-group">
          <label for="inputfirstName">Nombre(s) <span class="text-danger">*</span></label>
          <input type="text" class="form-control" [ngModel]="user.firstName" name="firstName" #firstName="ngModel" id="inputfirstName"
            placeholder="Nombre Completo" required>

          <!-- Full Name error block -->

          <div *ngIf="( firstName.touched)" class="text-danger">
            <div *ngIf="firstName.errors?.required">
              Ingrese sus nombres completos
            </div>
          </div>
        </div>
        <!--- End of Full Name Block --->

        <!--- Last Name Block --->
        <div class="form-group">
          <label for="inputLastName">Apellido(s) <span class="text-danger">*</span></label>
          <input type="text" class="form-control" [ngModel]="user.lastName" name="lastName" #lastName="ngModel" id="inputLastName"
            placeholder="Apellidos" required>

          <!-- Last Name error block -->

          <div *ngIf="( lastName.touched)" class="text-danger">
            <div *ngIf="lastName.errors?.required">
              Ingrese sus apellidos completos
            </div>
          </div>
        </div>
        <!--- End of Last Name Block --->

        <!--- date of birth Block --->
        <div class="form-group">
          <label for="dateOfBirth">Fecha de nacimiento <span class="text-danger">*</span></label>
          <input type="text" placeholder="yyyy/mm/dd" class="form-control" [ngModel]="user.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel"
            id="dateOfBirth" placeholder="Fecha de nacimiento" required>

          <!-- date of birth error block -->

          <div *ngIf="( dateOfBirth.touched)" class="text-danger">
            <div *ngIf="dateOfBirth.errors?.required">
              Ingrese su fecha de nacimiento
            </div>
          </div>
        </div>
        <!--- date of birth Name Block --->

        <!--- Email Block --->
        <div class="form-group">
          <label for="inputEmail">Email <span class="text-danger">*</span></label>
          <input type="text" class="form-control" [ngModel]="user.email" name="email" #email="ngModel" id="inputEmail"
            placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>

          <!-- Email error block -->

          <div *ngIf="email.invalid && ( email.touched)" class="text-danger">
            <div *ngIf="email.errors?.required">
              Registre su email
            </div>
            <div *ngIf="email.errors?.pattern && email.touched">
              Registre un email válido
            </div>
          </div>

        </div>




        <div ngModelGroup="password" #userPassword="ngModelGroup">
          <!--- Password Block --->
          <div class="form-group">
            <label for="inputPassword">Password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" ngModel name="pwd" id="inputPassword" placeholder="Password"
              minlength="8" required>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" ngModel name="confirmPwd" id="confirmPassword" placeholder="Confirm Password">
          </div>

          <!-- Password error block -->
          <div *ngIf="(userPassword.invalid|| userPassword.value?.pwd != userPassword.value?.confirmPwd) && (userPassword.touched)"
            class="text-danger">

            <div *ngIf="userPassword.invalid; else nomatch">
              Registre una contraseña de más de 8 caracteres
            </div>
            <ng-template #nomatch>
              Contraseña no coincide
            </ng-template>

          </div>

        </div>

         <!--- Select gender Block --->
         <div class="form-group">
          <label for="select">Genero <span class="text-danger">*</span></label>
          <select id="select" [ngModel]="user.gender" name="gender" class="form-control" required>
            <option *ngFor="let g of gender" [value]="g"> {{g}}
            </option>
          </select>
        </div>

       <!--- Terms and conditions Block --->
       <div class="form-group checkbox">
        <label>
          <input type="checkbox" ngModel name="terms" #terms="ngModel" required/>
          Aceptar <a data-toggle="modal" data-target="#termsModal" href="#termsModal">términos y condiciones</a>
          
        </label>
       
        <!-- Terms checkbox error block -->
        <div *ngIf="(terms.invalid && terms.touched)" class="text-danger">
          Acepte los terminos y condiciones para continuar
        </div>         

      </div>


        <!--- Buttons Block --->
        <div class="form-group">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!signupForm.form.valid">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<!-- Modal terms and conditions -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terminos y Condiciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-center">TÉRMINOS Y CONDICIONES</h3>
        <p class="text-justify">
          Los servicios se prestan a personas mayores quienes pueden desplazarse por su propio pie y quienes no tienen una condición médica crítica mental o física.
        Si bien las personas que quieren utilizar estos servicios no tienen que ser pacientes de los médicos centro médico “La Tercera Edad”, para acceder, por primera vez, a los servicios de “El Compañero” la persona debe solicitar una valoración de su estado de salud con uno de los médicos de este centro.
        Todos los servicios que solicite, generan un costo que deberá pagarse con un 50% de anticipo al asignar el servicio y el 50% al finalizar el servicio.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>        
      </div>
    </div>
  </div>
</div>