<div class="container-fluid">
    <hr>
    <div>
        <h3 id="book-name">{{book.name}}</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img id="book-cover-image" class="img-fluid" src="{{book.image}}" />
                </div>
            </div>
            <div class="col-md-3">
                <dl>
                    <hr>
                    <dt>Author</dt>
                    <div *ngFor="let author of book.authors">
                        <dd id="book-author-name" class="caption" routerLink="/authors/{{author.id}}">{{author.name}}</dd>
                    </div>
                    <hr>
                    <dt>ISBN</dt>
                    <dd id="book-isbn">{{book.isbn}}</dd>
                    <hr>
                    <dt>Publishing Date</dt>
                    <dd id="book-publish-date">{{book.publish_date| date:'yyyy-MM-dd'}}</dd>
                    <hr>
                    <dt class="bold">Editorial</dt>
                    <dd id="book-editorial-name" class="caption" routerLink="/editorials/{{book.editorial.id}}">{{book.editorial.name}}</dd>
                    <hr>
                </dl>
            </div>
            <div class="col-md-4">
                <dt class="bold">Description</dt>
                <div id="book-description" style="white-space: pre-line;">
                    {{book.description}}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Other books you may like</h3>
    <app-book-sidebar [books]="other_books"></app-book-sidebar>
    <hr>
    <app-book-reviews [book_id]="book_id"></app-book-reviews>
    <hr>
    <br>
</div>