<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 justify-content-center align-self-center text-center">
            <a id="previous-item-button" (click)="previousBook()" *ngIf="showLeft"><i class="fa fa-angle-left fa-4x"></i></a>
        </div>
        <div class="col-md-2 text-center" *ngFor="let book of list">
            <figure id="book-figure" class="figure" routerLink="/books/{{book.id}}">
                <div class="img-thumbnail border-0">
                    <img id="book-cover-image" class="img-fluid" src='{{book.image}}' alt="{{book.name}}" />
                </div>
                <figcaption id="book-title" class="title-caption">{{book.name}}</figcaption>
                <div *ngFor="let author of book.authors">
                    <figcaption id="book-author-name" class="author-caption text-center" routerLink="/authors/{{author.id}}">{{author.name}}</figcaption>
                </div>
            </figure>
        </div>
        <div class="col-md-1 justify-content-center align-self-center text-center">
            <a id="next-item-button" (click)="nextBook()" *ngIf="showRight"><i class="fa fa-angle-right fa-4x"></i></a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>