<div class="container">
    <div *ngIf="enfermerosDisponibles == undefined || enfermerosDisponibles.length == 0">
           <h4 class="text-center top30">No hay enfermeros disponibles</h4>
    </div>    
    <div *ngIf="enfermerosDisponibles != undefined && enfermerosDisponibles.length > 0">
        <h4 class="text-center top30">Listado de enfermeros disponibles</h4>
      <table class="top30 table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Puntaje</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let nurse of enfermerosDisponibles">
            <td>{{nurse.first_name}}</td>
            <td>{{nurse.last_name}}</td>
            <td>{{nurse.nurse_evaluation_count}} </td>
            <td><button type="button" class="btn btn btn-info btn-space" (click)="solicitud(nurse.id)">Agendar</button>
                <button type="button" class="btn btn btn-info btn-space" (click)="getComments(nurse.id)">Ver comentarios</button></td>            
           </tr>         
        </tbody>
      </table>
    </div>
    
    <div *ngIf="watchComments">
        <ul *ngFor="let service of services" class="list-group top5">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{service.adult_comment}}
                <span class="badge badge-primary badge-pill">{{service.nurse_evaluation}}</span>
            </li>
        </ul>
    </div>
    
  </div>
