<div class="container top50">
  <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
    <h1>Bienvenido {{loggedUser.first_name}},</h1>
    <div *ngIf="loggedUser.is_approved == null">
      <h5 class="top30">Tu perfil no se encontra aprobado, para empezar a realizar solicitudes debes agendar una cita por cualquiera de los siguiente medios:
        <div class="top30">
          Cel: 321 523 622<br>
          Tel: 6935555<br>
          Correo: adult_service@gmail.com<br>
        </div>
      </h5>
    </div>

    <div *ngIf="loggedUser.is_approved == false">
      <h3 class="top30">Tu perfil ya tiene una cita asignada:</h3>
      <h3 *ngIf="interviewDate != undefined"> el {{day}} a las {{hour}}</h3>
      
      <p class="top30">En caso de cualquier duda puede comunicarse con nosotros por cualquiera de los siguiente medios:</p>
        <div>
          Cel: 321 523 622<br>
          Tel: 6935555<br>
          Correo: adult_service@gmail.com<br>
        </div>
    </div>

    <div *ngIf="loggedUser.is_approved == true">
      <h5 class="top30">Su cuenta ya se encuentra aprobada
      </h5>
    </div>

  </div> 
</div>