<app-banner></app-banner>
  <div class="container top50">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img src="../../../assets/facil.jpg" width="50%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <span class="text-center text-md-left">
          <h2>Fácil y amigable</h2>
          <p class="top15">Registrate y solicita un cita de valoracion con un profesional. Listo ? Puedes utilizar el servicio ! </p>
        </span>
  
      </div>
    </div>
  </div>
  <div class="container top50">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img src="../../../assets/un_clic.jpg" width="50%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <span class="text-center text-md-left text-lg-left">
          <h2>Al alcance de un clic</h2>
          <p class="top15">Porque tienes mejor a hacer que buscar ayudantes, el compañero propone una gran variedad de servicios al alacance de un clic.</p>
          <p class="btn btn-primary col-xs-12 col-sm-12 col-md-5 col-lg-5" routerLink="/register/adult">Registrarme !</p>
        </span>
      </div>
    </div>
  </div>
  
  <div class ="banner top50">
  <div class="container ">
    <h1 class="text-center">Equipo de desarrollo</h1>
    <div class="container">
      <div class="row top30 text-center">
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../../assets/yanerys.jpeg" width="50%" class="rounded-circle img-responsive rounded-circle">
          <h3>Yanerys</h3>
        </figure>
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../../assets/avatar.png" width="50%" class=" rounded-circle img-responsive rounded-circle">
          <h3>Thomas</h3>
        </figure>
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../../assets/nestor.jpeg" width="50%" class="rounded-circle img-responsive">
          <h3>Nestor</h3>
        </figure>
  
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4 offset-md-2 offset-lg-2">
          <img src="http://imagine.uniandes.edu.co/img/people/foto_fmedina.jpg" width="50%" class="rounded-circle img-responsive">
          <h3>Fabián</h3>
        </figure>
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <img src="../../../assets/avatar.png" width="50%" class="rounded-circle img-responsive">
            <h3>Iván</h3>
        </figure>
  
      </div>
    </div>
  </div>