<app-banner></app-banner>
<section class="about-2 section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img src="../../../assets/facil.jpg" width="50%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <span class="text-center text-md-left">
          <h2>Fácil y amigable</h2>
          <p class="top15">Registrate y solicita un cita de valoracion con un profesional. Listo ? Puedes utilizar el
            servicio ! </p>
        </span>

      </div>
    </div>
  </div>
  <div class="container top50">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img src="../../../assets/un_clic.jpg" width="50%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <span class="text-center text-md-left text-lg-left">
          <h2>Al alcance de un clic</h2>
          <p class="top15">Porque tienes mejor a hacer que buscar ayudantes, el compañero propone una gran variedad de
            servicios al alacance de un clic.</p>
          <p class="btn btn-primary col-xs-12 col-sm-12 col-md-5 col-lg-5" routerLink="/register/adult">Registrarme !</p>
        </span>
      </div>
    </div>
  </div>
</section>

<section class="service-2 section">
  <div class="container">
    <!-- section title -->
    <div class="title text-center">
      <h1>Servicios ofrecidos</h1>
      <p>El compañero ofrece una gran variedad de servicios a sus clientes. Encuentra tu especialista y pide cita. Es
        fácil, cómodo y muy rápido. </p>
      <div class="border"></div>
    </div>
    <!-- /section title -->
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="../../../../assets/nurse.jpg" class="inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>A domicilio</h4>
              <p>Nuestros enfermeros profesionales realizan sus servicios a domicilios a todas horas del dia.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-alarm-outline"></i>
              <h4>Reservacion por internet</h4>
              <p>Con el compañero, no necesitas sacar tu cita por telefono. Connectate a tu espacio personal y pide tu
                servicio !</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-email-outline"></i>
              <h4>Notificaciones</h4>
              <p>Reciba notificaciones por mail cuando tu cita esta confirmada por el enfermero. No mas citas perdidas.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Valoracion del servicio</h4>
              <p>Porque tu satisfacción nos importa mas que todo, puedes valorar el servicio y ver los commentarios
                recibido por los enfermeros.</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->

<section class="about-2 section" id="about">
  <div class="container">

    <!-- section title -->
    <div class="title text-center">
      <h1>Condiciones de uso</h1>
      <p>Para ofrecerle un servicio de calidad, el compañero necesita el respecto de las condiciones de uso siguientes.</p>
      <div class="border"></div>
    </div>
    <!-- /section title -->
    <div class="row">
      <div class="col-md-6">
        <img src="../../../../assets/condiciones.jpg" class="img-responsive col-md-12 col-lg-12" alt="">
      </div>
      <div class="col-md-6">
        <ul class="checklist">
          <li>Para empezar a utilizar el servicio, se debe realizar un cita de valoracion con un medico.</li>
          <li>El compañero se reserva el derecho de rechazar su inscripción tras la cita de valoracion.</li>
          <li>Una vez asignado el servicio, se genera una factura sobre la que se debe pagar el 50% antes y el 50%
            después de realizado el servicio. </li>
          <li>Accepta que su perfil sea objecto de una evaluacion interna a la empresa on el fin de mejorar el
            servicio. </li>
        </ul>
        <a href="#" class="btn btn-primary mt-20" routerLink="/register/adult">Registrarme !</a>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->