<div class="container top50">
  <div class="text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
    <h1>Bienvenido {{loggedUser.first_name}},</h1>
    <div *ngIf="loggedUser.is_approved == null">
    <h5 class="top30">Tu perfil no se encontra aprobado, para empezar a realizar solicitudes debes agendar una cita por cualquiera de los siguiente medios:
      <div class="top30">
        Cel: 321 523 622<br>
        Tel: 6935555<br>
        Correo: adult_service@gmail.com<br>
      </div>
    </h5>
  </div>
  </div> 
</div>