.mainTitle {
    font-variant: small-caps;
    font-style: italic;
    color: #369ab0;
    margin: 8px 10px 4px 10px;
}

body { 
    padding-top: 75px; 
    padding-bottom: 60px; 

}

.right-space {
    margin-right: 1em;
}
.header-custom{
    background-color: #17242d!important;
    color: white;
    a{
        color: white;
    }
}
#logo{
    height: 50px;
}