<div class="banner">
    <div class="container jumbotron-fluid">
      <div class="text-center">
        <h1>Bienvenidos a la mejor experiencia de acompañamiento.</h1>
        <h3 class="top30">
          Tu cuidador personal a un solo clic ! 
        </h3>
      </div>
    </div>
  </div>
  
  <div class="container top50">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img src="../../../assets/placeholder.png" width="50%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <span class="text-center text-md-left">
          <h2>Fácil y amigable</h2>
          <p class="top15">gfgh,fgjhdsgfjhsdgfjhsdgfjhsdgfjhsdgfjsdgfjh gdfsdfgfgh,fgj hdsgfjhsd<br>gfjhsdgfjhsdg fjhsdgfjs dgfjhgdfsdf</p>
        </span>
  
      </div>
    </div>
  </div>
  <div class="container top50">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img src="../../../assets/placeholder.png" width="50%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <span class="text-center text-md-left text-lg-left">
          <h2>Al alcance de un clic</h2>
          <p class="top15">gfgh,fgjhdsg fjhsdg fjhsdgfj hsdgfjhsd gfjsdgfjhgdf sdf</p>
        </span>
      </div>
    </div>
  </div>
  
  <div class ="banner top50">
  <div class="container ">
    <h1 class="text-center">Equipo</h1>
    <div class="container">
      <div class="row top30 text-center">
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../../assets/avatar.png" width="50%" class="img-responsive">
          <h3>Yanerys</h3>
        </figure>
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../../assets/avatar.png" width="50%" class="img-responsive">
          <h3>Thomas</h3>
        </figure>
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <img src="../../../assets/avatar.png" width="50%" class="img-responsive">
          <h3>Nestor</h3>
        </figure>
  
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4 offset-md-2 offset-lg-2">
          <img src="../../../assets/avatar.png" width="50%" class="img-responsive">
          <h3>Fabián</h3>
        </figure>
        <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <img src="../../../assets/avatar.png" width="50%" class="img-responsive">
            <h3>Iván</h3>
        </figure>
  
      </div>
    </div>
  </div>