<div class="clinical-history container top50">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 jumbotron">

      <div class="row title-clinical-history">
        <div class="col-12 text-center">
          <h2>Añadir una historia clinica</h2>
        </div>
      </div>

      <!--row 1-->
      <div class="row ">

        <div class="col-12 container-form">
          <form novalidate id="clinicalHistoryForm" (ngSubmit)="onFormSubmit(clinicalHistoryForm)" class="form-horizontal"
            role="form" #clinicalHistoryForm="ngForm">
            <div class="row">
              <!--client block-->
              <div class="form-group col-md-12">
                <div class="row">
                  <label class="control-label col-sm-auto">Cliente:</label>
                  <label class="control-label col-sm-auto font-weight-bold">{{getFullNameClient()}}</label>
                </div>
              </div>
            </div>

            <!--row 2-->
            <div class="row">
              <!--Date interview block-->
              <div class="form-group required col-md-12">
                <div class="row">
                  <label class="control-label col-md-auto" for="interview_date">Fecha de entrevista</label>
                  <div class="col-md-auto">
                    <input [ngModel]="clinicalHistory.interview_date" #interview_date="ngModel" id="interview_date"
                      name="interview_date" type="text" class="form-control" placeholder="yyyy/mm/dd" required pattern="(?:19|20)[0-9]{2}/(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])/(?:30))|(?:(?:0[13578]|1[02])/31))">
                  </div>
                  <!-- interViewDate error block -->

                  <div *ngIf="interview_date.invalid && ( interview_date.touched)" class="text-danger">
                    <div *ngIf="interview_date.errors?.required">
                      Registre fecha de entrevista
                    </div>
                    <div *ngIf="interview_date.errors?.pattern && interview_date.touched">
                      Registre una fecha de entrevista valida (yyyy/mm/dd)
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--row 3-->
            <div class="row">
              <!--groupBlood block-->
              <div class="form-group required col-md-12">
                <div class="row">
                  <label class="control-label col-sm-auto" for="groupBlood">Grupo Sanguíneo/RH</label>
                  <div class="col-sm-auto">
                    <select [ngModel]="clinicalHistory.groupBlood" #groupBlood="ngModel" id="groupBlood" name="groupBlood"
                      class="form-control" data-role="select" required>
                      <option *ngFor="let g of groupBloods" [value]="g"> {{g}}
                      </option>
                    </select>
                  </div>
                  <!--groupBlood error block-->
                  <div *ngIf="(groupBlood.touched)" class="text-danger">
                    <div *ngIf="groupBlood.errors?.required">
                      Ingrese el grupo sanguineo/RH
                    </div>
                  </div>
                </div>
              </div>
            </div>            
            <hr />

            <!--row 4-->
            <div class="row">
              <!--actualsickness block-->
              <div class="col-md-12 form-group required">
                <fieldset>
                  <legend class="w-auto control-label">Diagnóstico Actual</legend>
                  <textarea [ngModel]="clinicalHistory.actual_diagnossis" #actual_diagnossis="ngModel" id="actual_diagnossis"
                    name="actual_diagnossis" rows="4" class="form-control" data-role="textarea" required></textarea>
                  <!-- actualsickness error block -->
                  <div *ngIf="(actual_diagnossis.touched)" class="text-danger">
                    <div *ngIf="actual_diagnossis.errors?.required">
                      Ingrese diagnostico actual
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <!--line-->
            <hr />

            <!--row 5-->
            <div class="row">
              <!--medicalHistory block-->
              <div class="col-md-12 form-group required">
                <table class="center-table">
                  <tr>
                    <td class="text-center control-label">Antecedentes Médicos</td>
                  </tr>
                  <tr *ngFor="let medical_preceding of clinicalHistory.medical_precedings; let i=index">
                    <td class="cell-input">
                      <input type="text" class="form-control" #medical_precedings="ngModel" [(ngModel)]="clinicalHistory.medical_precedings[i].value"
                        name="medical_preceding_{{i}}" id="medical_preceding_{{i}}" required>
                      <div *ngIf="(medical_precedings.touched)" class="text-danger">
                        <div *ngIf="medical_precedings.errors?.required">
                          Ingrese antecedente
                        </div>
                      </div>
                    </td>
                    <td class="cell-button">
                      <button type="button" (click)="removeClinicalPrecending(i)" title="Remover" class="btn btn-danger btn-circle"
                        [hidden]="i<=0">
                        <i class="fa fa-minus"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <button type="button" (click)="addClinicalPrecending(i)" title="Agregar antecedente" class="btn btn-primary btn-circle"><i
                          class="fa fa-plus"></i></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <!--line-->
            <hr />

            <!--row 6-->
            <div class="row">
              <div class="col-md-12">

                <fieldset>
                  <legend class="w-auto">Examen Físico</legend>
                  <!--row 6.1-->
                  <div class="row">
                    <!--weight block-->
                    <div class="form-group required col-md-auto">
                      <div class="row">
                        <label class="control-label col-sm-auto" for="weight">Peso (kg)</label>
                        <div class="col-sm-auto">
                          <input [ngModel]="clinicalHistory.weight" #weight="ngModel" id="weight" name="weight" type="number"
                            class="form-control number" required>
                          <!-- weight error block -->
                          <div *ngIf="(weight.touched)" class="text-danger">
                            <div *ngIf="weight.errors?.required">
                              Ingrese peso
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--size block-->
                    <div class="form-group required col-md-auto">
                      <div class="row">
                        <label class="control-label col-sm-auto" for="size">Talla (cm)</label>
                        <div class="col-sm-auto">
                          <input [ngModel]="clinicalHistory.size" #size="ngModel" id="size" name="size" type="number"
                            class="form-control number" required>
                          <!-- size error block -->
                          <div *ngIf="(size.touched)" class="text-danger">
                            <div *ngIf="size.errors?.required">
                              Ingrese talla
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--row 6.2-->
                  <div class="row">
                    <!--pulse block-->
                    <div class="form-group required col-md-12">
                      <div class="row">
                        <label class="control-label col-sm-3" for="pulse">Frecuencia cardiaca</label>
                        <div class="col-sm-auto">
                          <input [ngModel]="clinicalHistory.pulse" #pulse="ngModel" id="pulse" name="pulse" type="text"
                            class="form-control" required>
                          <!-- pulse error block -->
                          <div *ngIf="(pulse.touched)" class="text-danger">
                            <div *ngIf="pulse.errors?.required">
                              Ingrese frecuencia cardiaca
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--row 6.3-->
                  <div class="row">
                    <!--respiratoryfrequency block-->
                    <div class="form-group required col-md-12">
                      <div class="row">
                        <label class="control-label col-sm-3" for="heart_rate">Frecuencia respiratoria</label>
                        <div class="col-sm-auto">
                          <input type="text" [ngModel]="clinicalHistory.heart_rate" #heart_rate="ngModel" id="heart_rate"
                            name="heart_rate" class="form-control" required>
                          <!-- respiratoryfrequency error block -->
                          <div *ngIf="(heart_rate.touched)" class="text-danger">
                            <div *ngIf="heart_rate.errors?.required">
                              Ingrese frecuencia respiratoria
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--row 6.4-->
                  <div class="row">
                    <!--temperature block-->
                    <div class="form-group required col-md-12">
                      <div class="row">
                        <label class="control-label col-sm-3" for="temperature">Temperatura</label>
                        <div class="col-sm-auto">
                          <input type="text" [ngModel]="clinicalHistory.temperature" #temperature="ngModel" id="temperature"
                            name="temperature" class="form-control" required>
                          <!-- temperature error block -->
                          <div *ngIf="(temperature.touched)" class="text-danger">
                            <div *ngIf="temperature.errors?.required">
                              Ingrese temperatura
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <!--line-->
            <hr />

            <!--row 7-->
            <div class="row">
              <!--allergies block-->
              <div class="col-md-12 form-group required">
                  <table class="center-table">
                      <tr>
                        <td class="text-center control-label">Alergias</td>
                      </tr>
                      <tr *ngFor="let allergy of clinicalHistory.allergies; let i=index">
                        <td class="cell-input">
                          <input type="text" class="form-control" #allergy="ngModel" [(ngModel)]="clinicalHistory.allergies[i].value"
                            name="allergy_{{i}}" id="allergy_{{i}}" required>
                          <div *ngIf="(allergy.touched)" class="text-danger">
                            <div *ngIf="allergy.errors?.required">
                              Ingrese Alergia
                            </div>
                          </div>
                        </td>
                        <td class="cell-button">
                          <button type="button" (click)="removeAllergy(i)" title="Remover" class="btn btn-danger btn-circle"
                            [hidden]="i<=0">
                            <i class="fa fa-minus"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <button type="button" (click)="addAllergy(i)" title="Agregar alergia" class="btn btn-primary btn-circle"><i
                              class="fa fa-plus"></i></button>
                        </td>
                      </tr>
                    </table>
              </div>
            </div>

            <!--line-->
            <hr />

            <!--row 8-->
            <div class="row">
              <!--coronaryProblems block-->
              <div class="col-md-12 form-group required">
                  <table class="center-table">
                      <tr>
                        <td class="text-center control-label">Problemas Coronarios</td>
                      </tr>
                      <tr *ngFor="let coronary of clinicalHistory.coronary_problems; let i=index">
                        <td class="cell-input">
                          <input type="text" class="form-control" #coronary="ngModel" [(ngModel)]="clinicalHistory.coronary_problems[i].value"
                            name="coronary_{{i}}" id="coronary_{{i}}" required>
                          <div *ngIf="(coronary.touched)" class="text-danger">
                            <div *ngIf="coronary.errors?.required">
                              Ingrese problema coronario
                            </div>
                          </div>
                        </td>
                        <td class="cell-button">
                          <button type="button" (click)="removeCoronary(i)" title="Remover" class="btn btn-danger btn-circle"
                            [hidden]="i<=0">
                            <i class="fa fa-minus"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <button type="button" (click)="addCoronary(i)" title="Agregar problema coronario" class="btn btn-primary btn-circle"><i
                              class="fa fa-plus"></i></button>
                        </td>
                      </tr>
                    </table>
              </div>
            </div>

            <hr/>
            <!--row 9-->
            <div class="row">
              <!--observations block-->
              <div class="col-md-12 form-group required">
                <fieldset>
                  <legend class="w-auto control-label">Observaciones</legend>
                  <textarea [ngModel]="clinicalHistory.observations" #observations="ngModel" id="observations" name="observations"
                    rows="4" class="form-control" data-role="textarea" required></textarea>
                  <!-- observations error block -->
                  <div *ngIf="(observations.touched)" class="text-danger">
                    <div *ngIf="observations.errors?.required">
                      Ingrese observacion(es)
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <!--buttons block-->
            <div class="form-group">
              <button type="reset" class="btn btn-default btn-space" [routerLink]="['']">Cancelar</button>
              <button class="btn btn-primary btn-space" [disabled]="!clinicalHistoryForm.form.valid">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
