<div class="banner">
  <div class="container jumbotron-fluid">
    <div class="text-center">
      <h1 class="display-4">Bienvenidos a la mejor experiencia de acompañamiento.</h1>
      <p>
        Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam
        dolor eius.
      </p>
    </div>
  </div>
</div>

<div class="container top50">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <img src="../../../assets/placeholder.png" width="60%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <span class="text-center text-md-left">
        <h2>Fácil y amigable</h2>
        <p>gfgh,fgjhdsgfjhsdgfjhsdgfjhsdgfjhsdgfjsdgfjhgdfsdfgfgh,fgjhdsgfjhsd<br>gfjhsdgfjhsdgfjhsdgfjsdgfjhgdfsdf</p>
      </span>

    </div>
  </div>
</div>
<div class="container top50">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <img src="../../../assets/placeholder.png" width="60%" class="mx-auto d-block float-mg-right float-lg-right img-responsive">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <span class="text-center text-md-left text-lg-left">
        <h2>Al alcance de un clic</h2>
        <p>gfgh,fgjhdsgfjhsdgfjhsdgfjhsdgfjhsdgfjsdgfjhgdfsdf</p>
      </span>
    </div>
  </div>
</div>


<div class="container top50">
  <h1 class="text-center">Equipo</h1>
  <div class="container">
    <div class="row top30 text-center">
      <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="../../../assets/avatar.png" width="60%" class="img-responsive">
        <h3>Santiago</h3>
      </figure>
      <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="../../../assets/avatar.png" width="60%" class="img-responsive">
        <h3>Servio</h3>
      </figure>
      <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="../../../assets/avatar.png" width="60%" class="img-responsive">
        <h3>Thomas</h3>
      </figure>
      <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="../../../assets/avatar.png" width="60%" class="img-responsive">
        <h3>Nestor</h3>
      </figure>
      <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <img src="../../../assets/avatar.png" width="60%" class="img-responsive">
        <h3>Fabián</h3>
      </figure>
      <figure class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
          <img src="../../../assets/avatar.png" width="60%" class="img-responsive">
          <h3>Iván</h3>
      </figure>

    </div>
  </div>