/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }

p {
    color: #343a36;
}

h1 {
    color: #343a36;
}

h2 {
    color: #343a36;
}

h3 {
    color: #343a36;
}

h4 {
    color: #343a36;
}

h5 {
    color: #343a36;
}

.btn-space {
    margin-right: 5px;
}

.btn-primary {
    background-color: #3c9aaf;
    color: whitesmoke;
    border-color: #3c9aaf;
}

.btn-primary:disabled{
    background-color: #3c9aafa8;
    border-color: #3c9aafa8;
}

.btn-primary:hover {
    background-color: #358597;
    border-color: #358597;
}


.btn-primary:visited {
    background-color: #3c9aaf;
    color: whitesmoke;
    border-color: #3c9aaf;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
  }