<div class="container">
  <h1 class="text-center top50" id="doctor-name">Citas de valoracion</h1>
  <h4 class="text-center top30">{{appointments.length}} cita(s) a venir</h4>
  <div *ngIf="appointments != undefined && appointments.length > 0">
    <table class="top30 table">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <th scope="row">{{appointment.interview_date}}</th>
          <td>{{appointment.adult.first_name}}</td>
          <td>{{appointment.adult.last_name}}</td>
          
        </tr>         
      </tbody>
    </table>
  </div>
</div>